<script src="https://kit.fontawesome.com/a02c0e0dce.js" crossorigin="anonymous"></script>





<div class="wrapper">
    <div class="sidebar">
        <h5>{{ session.storename }}</h5>
        <ul>
            <li><a href="/dashboard"><i class="fas fa-chart-line"></i>Dashboard</a></li>
            <li><a href="/manageSeat"></i><i class="fas fa-chair"></i>จัดการที่นั่ง</a></li>
            <li><a href="/manageFood"><i class="fas fa-utensils"></i>จัดการอาหาร</a></li>
            <li><a href="/manageStore"><i class="fas fa-store"></i>จัดการข้อมูลร้าน</a></li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>ออกจากระบบ</a></li>
        </ul>
    </div>
</div>