
            <div class="wrapper">
                <div class="sidebar">
                    <h4>{{ session.storename }}</h4>
                    <ul>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/manageSeat"></i>จัดการที่นั่ง</a></li>
                        <li><a href="/manageFood"></i>จัดการอาหาร</a></li>
                        <li><a href="/manageStore"></i>จัดการข้อมูลร้าน</a></li>
                        <li><a href="/logout"></i>ออกจากระบบ</a></li>
                    </ul> 
                </div>
            </div>


