<!doctype HTML>
<html>
<script src="../static/js/aframe.min.js"></script>
<script src="https://raw.githack.com/jeromeetienne/AR.js/2.1.5/aframe/build/aframe-ar.js"></script>


<body style='margin : 0px; overflow: hidden;'>
    <a-scene vr-mode-ui="enabled: false" embedded arjs='sourceType: webcam; debugUIEnabled: false;'>
        <a-marker preset="hiro">
            <a-asset-item id="cityModel" src="../static/models/breakfast_set_obj.gltf"></a-asset-item>
            <a-entity animation="property: rotation; to: 0 360 0; loop: true; dur: 10000" scale="0.06 0.06 0.06" gltf-model="#cityModel"></a-entity>
        </a-marker>
        <a-entity camera></a-entity>
    </a-scene>
</body>

</html>

