<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>นครอาหาร</title>
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap-grid.css">
  <link rel="stylesheet" href="../static/css/bootstrap-grid.min.css">
  <script src="../static/js/bootstrap.bundle.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Prompt&display=swap" rel="stylesheet" />
  {% block head %}{% endblock %}
  {% block style %}{% endblock %}
</head>

<body>

  <div class="row">
    <div class="col-2">
      {% include 'includes/navbar.html' %}
    </div>
    <div class="col-9">
      {% block body %}{% endblock %}
    </div>
  </div>

</body>

</html>