{% extends 'layoutdb.html' %}

{% block head %}

<style>
    .color-status-empty {
        background-color: #4cd137;
        text-align: center;
        color: #ffffff;
        height: 40px;
        font-family: 'Prompt';
        border-radius: 10px 10px 0px 0px;
    }

    .color-status-Notempty {
        background-color: #d63031;
        text-align: center;
        color: #ffffff;
        height: 40px;
        font-family: 'Prompt';
        border-radius: 10px 10px 0px 0px;
    }

    label {
        margin-top: 10px;
    }

    .card {
        margin-top: 30px;
        display: inline-block;
        width: 260px !important;
        border-radius: 10px;
    }

    img {
        margin-top: 30px;
        width: 400px;
    }

    .content {
        margin-top: 150px;
        font-size: 40px;
    }

    .dot {
        height: 20px;
        width: 20px;
        background-color: #4cd137;
        border-radius: 50%;
        display: inline-block;
        margin-top: 20px;
    }

    .edit{
        width: 100%;
    }
</style>



{% endblock %}


{% block body %}


<div class="row justify-content-center">
    <div class="col-4">
        <label class="content">
            จัดการที่นั่งในร้าน
        </label>
    </div>
    <div class="col-4">
        <img src="../static/images/undraw_researching_22gp.svg">
    </div>
</div>




<div class="row">
    <div class="col-2">
        <div class="spinner-grow text-success" role="status">
        </div>
        <span>ที่นั่งว่าง</span>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <div class="spinner-grow text-danger" role="status">
        </div>
        <span>ที่นั่งไม่ว่าง</span>
    </div>
</div>



<div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="color-status-empty">
                <label>โต๊ะที่ 1</label>
            </div>
            <div class="card-body">
                <p class="card-text">เวลาที่จองโต๊ะ - </p>
                <p class="card-text">จำนวน - คน </p>
            </div>
            <button type="button" class="btn btn-light edit" data-toggle="modal" data-target="#exampleModal">แก้ไข</button>
        </div>
    </div>

    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="color-status-empty">
                <label>โต๊ะที่ 2</label>
            </div>
            <div class="card-body">
                <p class="card-text">เวลาที่จองโต๊ะ - </p>
                <p class="card-text">จำนวน - คน </p>
            </div>
            <button type="button" class="btn btn-light edit" data-toggle="modal" data-target="#exampleModal">แก้ไข</button>
        </div>
    </div>

    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="color-status-Notempty">
                <label>โต๊ะที่ 3</label>
            </div>
            <div class="card-body">
                <p class="card-text">เวลาที่จองโต๊ะ 11:10 น. 25/1/63</p>
                <p class="card-text">จำนวน 5 คน </p>
            </div>
            <button type="button" class="btn btn-light edit" data-toggle="modal" data-target="#exampleModal">แก้ไข</button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="color-status-Notempty">
                <label>โต๊ะที่ 4</label>
            </div>
            <div class="card-body">
                <p class="card-text">เวลาที่จองโต๊ะ 11:35 น. 25/1/63 </p>
                <p class="card-text">จำนวน 3 คน </p>
            </div>
            <button type="button" class="btn btn-light edit" data-toggle="modal" data-target="#exampleModal">แก้ไข</button>
        </div>
    </div>

    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="color-status-empty">
                <label>โต๊ะที่ 5</label>
            </div>
            <div class="card-body">
                <p class="card-text">เวลาที่จองโต๊ะ - </p>
                <p class="card-text">จำนวน - คน </p>
            </div>
            <button type="button" class="btn btn-light edit" data-toggle="modal" data-target="#exampleModal">แก้ไข</button>
        </div>
    </div>

    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="color-status-empty">
                <label>โต๊ะที่ 6</label>
            </div>
            <div class="card-body">
                <p class="card-text">เวลาที่จองโต๊ะ -</p>
                <p class="card-text">จำนวน - คน </p>
            </div>
            <button type="button" class="btn btn-light edit" data-toggle="modal" data-target="#exampleModal">แก้ไข</button>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="color-status-empty">
                <label>โต๊ะที่ 7</label>
            </div>
            <div class="card-body">
                <p class="card-text">เวลาที่จองโต๊ะ - </p>
                <p class="card-text">จำนวน - คน </p>
            </div>
            <button type="button" class="btn btn-light edit" data-toggle="modal" data-target="#exampleModal">แก้ไข</button>
        </div>
    </div>

    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="color-status-empty">
                <label>โต๊ะที่ 8</label>
            </div>
            <div class="card-body">
                <p class="card-text">เวลาที่จองโต๊ะ - </p>
                <p class="card-text">จำนวน - คน </p>
            </div>
            <button type="button" class="btn btn-light edit" data-toggle="modal" data-target="#exampleModal">แก้ไข</button>
        </div>
    </div>

    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="color-status-empty">
                <label>โต๊ะที่ 9</label>
            </div>
            <div class="card-body">
                <p class="card-text">เวลาที่จองโต๊ะ -</p>
                <p class="card-text">จำนวน - คน </p>
            </div>
            <button type="button" class="btn btn-light edit" data-toggle="modal" data-target="#exampleModal">แก้ไข</button>
        </div>
    </div>

</div>





<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">วันที่/เวลาที่จองโต๊ะ</label>
            <input type="datetime-local" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">จำนวนคน</label>
            <input class="form-control" type="number" value="42" id="example-number-input">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-warning">บันทึก</button>
      </div>
    </div>
  </div>
</div>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script>
  $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('จัดการที่นั่ง')
  modal.find('.modal-body input').val(recipient)
})
  
  
  </script>











{% endblock %}