{% extends 'layoutdb.html' %}


{% block head %}



{% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="first_name" type="text" class="validate" name="storename">
              <label for="first_name">ชื่อร้าน</label>
            </div>
          </div>
          <div class="row">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea" name="desc"></textarea>
                  <label for="textarea1">รายละเอียดร้าน</label>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="time" type="email" class="validate" name="time">
              <label for="time">เวลาเปิด-ปิด</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="lat" type="text" class="validate" name="lat">
              <label for="lat">lat</label>
            </div>
            <div class="input-field col s6">
              <input id="log" type="text" class="validate" name="lng">
              <label for="log">log</label>
            </div>
          </div>
            <button class="btn waves-effect waves-light" type="submit" style="font-family:'Prompt'">บันทึกข้อมูล
          </button>
        </form>
      </div>
</div>

{% endblock %}


