body{
    margin: auto;
    background-color: #F2F5F7;
    text-align: center;
}

p {
    text-align: left;
    font-size: 1.5em;
    display: block;
}


.waves-effect.waves-light.btn{
    background-color: #FFCC2A;
    color: black;
    margin-top: 50px;
}

.active{
    color: #000000 !important;
}













